.image-24-icon1 {
  position: relative;
  width: 1440px;
  height: 351px;
  object-fit: cover;
}
.content-wrapper1 {
  position: relative;
  width: 1440px;
  height: 1660px;
  overflow-y: auto;
  flex-shrink: 0;
}
.doctorlistpublic {
  position: relative;
  background-color: var(--light-background-color);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
