.property-1default-inner {
  position: relative;
  width: 1440px;
  height: 731.17px;
}
.property-1default7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
